* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #272727;
    color: #FAF9F6;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

/* Side navigation styling */
.side-nav {
    width: 20%;
    background-color: #272727;
    padding: 55px 0px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    height: 100%;
}

.logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: #FAF9F6;
    margin-bottom: 40px;
}

.side-nav ul {
    list-style: none;
}

.side-nav ul li {
    margin-bottom: 20px;
    width: 100%;
}

.side-nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #FAF9F6;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.side-nav ul li a:hover {
    color: #007aff;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    color: #FAF9F6;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease;
    padding-right: 20px;
}

.dropdown-toggle::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>');
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    animation: wiggle 4.6s ease-in-out infinite;
}

.dropdown.active .dropdown-toggle::after {
    animation: none;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
        /* Start in neutral state */
    }

    3.25% {
        transform: rotate(-15deg);
        /* Tilt left */
    }

    6.5% {
        transform: rotate(15deg);
        /* Tilt right */
    }

    9.75% {
        transform: rotate(-15deg);
        /* Tilt left again */
    }

    13% {
        transform: rotate(0deg);
        /* Back to neutral position */
    }

    100% {
        transform: rotate(0deg);
        /* Idle state for the remaining time */
    }
}

.dropdown-content {
    display: none;
    padding-left: 30px;
    margin-top: 10px;
    list-style-type: none;
}

.dropdown-content li {
    margin-bottom: 10px;
}

.dropdown-content a {
    font-size: 1rem !important;
    color: #FAF9F6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.dropdown-content a:hover {
    color: #007aff;
}

.dropdown.active .dropdown-toggle::after {
    transform: rotate(180deg);
}

.dropdown-toggle:hover {
    color: #007aff;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
}

.social-icons img:hover {
    opacity: 0.7;
}

.section {
    margin-bottom: 50px;
}

.section ol {
    padding-left: 30px;
}

.section ol li {
    margin-bottom: 7px;
}

/* animating tag line */
.animated-line span {
    font-family: 'IBM Plex Serif', serif;
    font-weight: lighter;
    display: inline-block;
    animation: smooth-jump 0.8s ease-in-out 1;
    transform: translateY(0);
}
.animated-line span:nth-child(1) {animation-delay: 0.4s; }
.animated-line span:nth-child(2) {animation-delay: 0.6s; }
.animated-line span:nth-child(3) {animation-delay: 0.8s; }
.animated-line span:nth-child(4) {animation-delay: 1s; }
.animated-line span:nth-child(5) {animation-delay: 1.2s; }
.animated-line span:nth-child(6) {animation-delay: 1.4s; }
.animated-line span:nth-child(7) {animation-delay: 1.6s; }
.animated-line span:nth-child(8) {animation-delay: 1.8s; }
.animated-line span:nth-child(9) {animation-delay: 2s; }
.animated-line span:nth-child(10) {animation-delay: 2.2s; }
.animated-line span:nth-child(11) {animation-delay: 2.4s; }
.animated-line span:nth-child(12) {animation-delay: 2.6s; }
.animated-line span:nth-child(13) {animation-delay: 2.8s; }

@keyframes smooth-jump {
    0% {
        transform: translateY(0);
    }

    400% {
        transform: translateY(-12px);
    }

    60% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

.animated-line:hover span {
    animation: smooth-jump-hover 0.8s ease-in-out;
}

.animated-line:hover span:nth-child(1) {animation-delay: 0.2s; }
.animated-line:hover span:nth-child(2) {animation-delay: 0.4s; }
.animated-line:hover span:nth-child(3) {animation-delay: 0.6s; }
.animated-line:hover span:nth-child(4) {animation-delay: 0.8s; }
.animated-line:hover span:nth-child(5) {animation-delay: 1s; }
.animated-line:hover span:nth-child(6) {animation-delay: 1.2s; }
.animated-line:hover span:nth-child(7) {animation-delay: 1.4s; }
.animated-line:hover span:nth-child(8) {animation-delay: 1.6s; }
.animated-line:hover span:nth-child(9) {animation-delay: 1.8s; }
.animated-line:hover span:nth-child(10) {animation-delay: 2.0s; }
.animated-line:hover span:nth-child(11) {animation-delay: 2.2s; }
.animated-line:hover span:nth-child(12) {animation-delay: 2.4s; }
.animated-line:hover span:nth-child(13) {animation-delay: 2.6s; }


/* Define a hover-specific animation */
@keyframes smooth-jump-hover {
    0% {
        transform: translateY(0);
    }

    400% {
        transform: translateY(-12px);
    }

    60% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

/* animating skills list */
#about h3 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease-out forwards;
    animation-delay: 3s;
}

ol li {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease-out forwards;
}

/* Stagger the animation for each item */
ol li:nth-child(1) {animation-delay: 3.2s; }
ol li:nth-child(2) {animation-delay: 3.4s; }
ol li:nth-child(3) {animation-delay: 3.6s; }
ol li:nth-child(4) {animation-delay: 3.8s; }
ol li:nth-child(5) {animation-delay: 4.0s; }
ol li:nth-child(6) {animation-delay: 4.2s; }

/* Define the fadeInUp animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.headshot {
    height: 200px;
    border-radius: 5px;
    margin-right: 15px;
}
*/

/* Main content styling */
main {
    width: 80%;
    margin-left: 20%;
    padding: 40px 40px 40px 0px;
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #FAF9F6;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: #FAF9F6;
}

h3 {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.8;
    color: #FAF9F6;
    margin-bottom: 5px;
}

p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.8;
    color: #FAF9F6;
}

a {
    color: #007aff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .side-nav {
        width: 100%;
        padding: 20px;
    }

    .logo {
        font-size: 1.5rem;
    }

    main {
        width: 100%;
        margin-left: 0;
        padding: 20px;
    }

    h2 {
        font-size: 1.8rem;
    }
}
